@font-face {
  font-family: baskerville;

  src: url("/fonts/librebaskerville-regular-webfont.woff") format(".woff");
  src: url("/fonts/librebaskerville-regular-webfont.woff2") format(".woff2");
  src: url("/fonts/libreBaskerville-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}


@font-face {
  font-family: playfair-display;

  src: url("/fonts/playfairdisplaysc-regular-webfont.woff2") format("woff2");
  src: url("/fonts/playfairdisplaysc-regular-webfont.woff") format("woff");
}


/* DIT IS IN LOKALE FOLDER */

/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/


/*Light Mode*/

:root {
  --color-headings:rgb(39 39 39);
  --color-font: black;
  --color-bg-ol: rgb(255 245 239);
  --body-bg-color: rgb(255 235 214);
  --bg-color-main-section: rgb(25 58 42);
  --page-color: rgb(255 245 232);
  --page-turn-color: rgb(214, 189, 156);

  --box-shadow: 0em 0.9em 3em rgba(0, 0, 0, 0.65);
  --page-shadow-right: linear-gradient(90deg, rgba(98, 60, 23, 0.228) 0%, rgba(247,247,247,0) 18%);
  --page-shadow-left: linear-gradient(-90deg, rgba(98, 60, 23, 0.228) 0%, rgba(247,247,247,0) 18%);

  --font-family: "baskerville", "Libre Baskerville", "Baskerville PT", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  --font-decorative: "playfair-display", serif;

  --white-space: min(5vw, 4rem);


}


/*DARK MODE*/

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: rgb(24, 24, 31);
    --page-color: rgb(63, 85, 59);
    --color-font: white;
    --color-headings:rgb(179, 194, 176);
    --page-shadow-right: linear-gradient(90deg, rgba(1, 1, 1, 0.228) 0%, rgba(2, 2, 2, 0) 18%);
    --page-shadow-left: linear-gradient(-90deg, rgba(69, 69, 69, 0.228) 0%, rgba(72, 72, 72, 0)%);

    --font-family: "baskerville", "Libre Baskerville", "Baskerville PT", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    --font-decorative: "playfair-display", serif;

  }

}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  margin:0;
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
  color: var(--color-font);
}

h1 {
  color: var(--color-headings);
  font-family: var(--font-family);
}

p {
  font-size: 0.85em;
  white-space: pre-line;
  line-height: 1.4em;
}

button {
  border: none;
  padding: none;
}



/********************/
/* HEADER */
/********************/

header {
  display: flex;
  flex-direction: column;
  line-height: 0.1em;
  align-items: center;
  margin-bottom: 1em;
}

header h1 {
  font-size: 2.5em;
}

header p:nth-of-type(1) {
  font-size: 1.2em;
  color: rgb(205 48 0);
}

header p:nth-of-type(2) {
  font-weight: bold;
  color: rgb(46 46 46);

}


/********************/
/* MAIN */
/********************/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/*imitatie book cover*/
main > section {
  background-color: var(--bg-color-main-section);
  padding: 0.5em;
  border-radius: 0.5em;

  box-shadow: 0em 0.9em 3em var(--box-shadow);
}


/********************/
/* LISTS */
/********************/

ol {
	position:relative;
	
	width:100vmin;
	aspect-ratio:8/6;
	background-color:var(--color-bg);
	
	margin:0;
	padding:0;
	list-style:none;
	
	perspective:100vmin;
	transform-style:preserve-3d;

  /*cover img*/
  background-image: url(/images/cover-green.png);
  background-size: contain;
}

/* algemene list styling */
li {
	position: absolute;
	width: 50%;
	height: 100%;
	
	top: 0;
	right: 0;

	transform-origin: left;
	transition: 1s;

  transform-style: preserve-3d;
}

/* images blijven 100% binnen lijst */
li img {
  max-width: 100%;
}


/*Selection voor de verschillende pagina's*/
li:nth-of-type(1) {
	transform:rotateY(-4deg);
}
li:nth-of-type(2) {
	transform:rotateY(-3deg);
}
li:nth-of-type(3) {
	transform:rotateY(-2deg);
}
li:nth-of-type(4) {
	transform:rotateY(-1deg);
}

/* Selection voor pagina's. Wanneer je erop klikt -> omslaan */
li:nth-of-type(1).omgeslagen {
	transform:rotateY(-179deg);
}
li:nth-of-type(2).omgeslagen {
	transform:rotateY(-178deg);
}
li:nth-of-type(3).omgeslagen {
	transform:rotateY(-177deg);
}
li:nth-of-type(4).omgeslagen  {
	transform:rotateY(-176deg);
}




/*******************/
/* LIST > SECTIONS */
/*******************/


/* styling binnen de section */
li > section {
  position: absolute;
  inset:0;
  
  /* andere kant van de pagina verbergen */
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  /* pointer-events: none; */
  overflow: hidden;

  background-color: var(--page-color);

  /* pagina schaduw binnenkant */
  background-image: var(--page-shadow-right);
  padding: 2.5em;
}


/* "A brief history" */
li > section h1 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

/* Naam Pagina 1*/
li > section h2 {
  font-size: 1em;
  text-align: center;
}

/* Metadata Pagina 1 */
li:nth-of-type(1) > section:nth-of-type(1) p:nth-of-type(2) {
  margin-top: 2em;
  text-align: center;
}

/* Metadata eerste letter normaal formaat maken */
li > section:nth-of-type(1) p:nth-of-type(2)::first-letter {
  font-size: 1em;

}


/* Voor hoekje */
li > section:nth-of-type(1) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  transition: clip-path .3s;
}
/* Tweede pagina hoekje */
li > section:nth-of-type(2) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  transition: clip-path .3s;
}


/* Hoekje hover */
li > section:nth-of-type(1):hover {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vmin), calc(100% - 5vmin) 100%, 0 100%, 0 0);
}
/*Hoekje hover: Tweede pagina BUT HOW TO CALC?!?!? its 100vmin in total so 50% is half page!*/
li > section:nth-of-type(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 45vmin) 100%, 0 calc(100% - 5vmin))
}


/* Hoekje kleur nadat je hovert */
li > section:nth-of-type(1)::after {
  content: "";
  position: absolute;
  right:0;
  bottom:0;
  width:5vmin;
  height: 5vmin;
  background-color: var(--page-turn-color);
  scale:0;
  transform-origin: right bottom;

  transition: scale .3s;
} 

/* Hoekje kleur nadat je hovert + aan de linkerkant */
li > section:nth-of-type(2)::after {
  content: "";
  position: absolute;
  left:0;
  bottom:0;
  width:5vmin;
  height: 5vmin;
  background-color: var(--page-turn-color);
  scale:0;
  transform-origin: left bottom;

  transition: scale .3s;
} 

/* Hoekje gegroeit -> dus het 'vierkantje' */
li > section:nth-of-type(1):hover::after {
  scale:1;
}

/* Hoekje gegroeit -> dus het 'vierkantje' aan de linkerkant: Tweede pagina*/
li > section:nth-of-type(2):hover::after {
  scale:1;
}

/* Pagina omslaan -> Ook dat het aan de andere kant is + schaduwen aan de goede kant */
li > section:nth-of-type(2) {
  transform: rotateY(.5turn);
  background-image: var(--page-shadow-left);
}
li > section:nth-of-type(3) {
  transform: rotateY(.5turn);
  background-image: var(--page-shadow-left);
}




/*Li details op elke pagina*/
/***************************/

/*bovenste Winnie-The-Pooh ding*/
li > section > p:nth-of-type(1) {
  font-family: var(--font-decorative);
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;

}

/*Alleen de eerste paragraaf met een initial letter*/
li p:nth-of-type(2):first-letter {
  font-size: 2em;
}






/***********/
/* DIALOGS */
/***********/



/* the box */
dialog {
  position: relative;
	width:calc( 100vw - var(--white-space) );
	height:calc( 100vh - var(--white-space) );
	padding:0;
	
	border:none;
	box-shadow:var(--box-shadow);

  z-index: 10;
}

dialog p {
  position: absolute;
  bottom: 0;
  margin: 1em 1em 1em 1em;

  font-family: var(--font-family);
  font-size: 1.1em;
}

dialog img {
  max-width: 20em;
}

dialog button {
	position:absolute;
	right:.5em;
	top:.5em;
	z-index:200;
	
	width:1.5em;
	aspect-ratio:1/1;
	
	appearance:none;
	background:none;
	/* border:var(--dialog-button-border); */
	
	font-size:2em;
	font-weight:bold;
	/* color:var(--dialog-button-clr); */
}

/* page does not scroll if dialog is shown */
html:has(dialog[open]) {
  overflow: hidden;
}








/********************************/
/* DETAILS */
/* classes, id's andere extra's */
/********************************/



/*class voor decoratielijn boven elke pagina*/
.decorativeline {
  width: auto;
  height: 0.1em;
  background-color: rgb(30 59 0);
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

/* Button honingpot intro pagina*/
.hunny {
  position: absolute;
  right: 4em;
  bottom: 2em;
  background-image: url(/images/hunny.png);
  background-color: transparent;
  background-size: cover;
  padding: 1em;
  width: 4.9em;
  height: 5.5em;
  transition: .3s;
}

.hunny:hover {
  transform: rotate(10deg);
  cursor: pointer;
}

.pd-realbear-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}

